{% extends 'base.html.twig' %}

{% block title %}
    Post nuevos
{% endblock %}

{% block body %}
{{ parent() }}

        <div class="example-wrapper">
            <h1>Formulario de Nuevos Post</h1>     
        </div>
        
    {{ form(formulario_post) }}   

{% endblock %}
