{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

{{ dump(post) }}

<div class="example-wrapper">
    <h1> Listado de Post </h1>    
    <ul>        

    {% for i in post %}
            <li> {{ i.titulo|e }} - {{ i.contenido|e }} </li>                                    
        {% endfor %}

    </ul>

</div>
{% endblock %}
