{% extends 'base.html.twig' %}

{% block title %}    
    {{ parent() }} 
{% endblock %}


{% block body %}
    {{ parent() }}
 
    <div class="example-wrapper">
        <h1> Dashboard Listado de Post </h1>    

        <ul>        
            {% for i in post %}
                    <li> {{ i.titulo|e }} - {{ i.contenido|e }} </li>                                    
            {% endfor %}
        </ul>

    </div>
{% endblock %}
